/*Nav Bar */
.appName,
.newReleaseHeading {
  font-family: "Limelight", cursive;
}
/*new release features*/
.newReleaseHeading {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
.popularRating {
  display: inline;
  margin-left: 10rem;
}

.yearEl,
.newReleaseMovieTitle {
  display: inline;
  text-align: left;
}
.newReleaseMovieTitle {
  padding-left: 0.5rem;
}
.newStar {
  color: black;
}
/* MOVIE SEARCH*/
/*To get rating right aligned*/
.rating {
  float: right;
}
/* set movie poster div position to relative to get star in corner */
.moviePosterDiv {
  position: relative;
}
.star {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  color: white;
  filter: drop-shadow(2px 2px 2px black);
}
/* Set streaming div to  be on top of poster div*/
.streamingDiv {
  position: relative;
  left: 10rem;
  background-color: black;
}
