/*Nav Bar */
.appName,
.newReleaseHeading {
  font-family: "Limelight", cursive;
}
/*new release features*/
.newReleaseHeading {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
.popularRating {
  display: inline;
  margin-left: 10rem;
}

.yearEl,
.newReleaseMovieTitle {
  display: inline;
  text-align: left;
}
.newReleaseMovieTitle {
  padding-left: 0.5rem;
}
.newStar {
  color: black;
}
